// pyxfluff 2024

$BGPrimary: rgba(var(--secondary-rgb), 0.5);

@mixin SemiTransparentBox() {
    border-radius: 12px;
    background: rgba(var(--secondary-rgb), .4);
    border: rgba(var(--secondary-rgb), .4)
}

@mixin BorderByOption($style) {
    @if $style =="more" {
        border-radius: 18px;
    }

    @else {
        border-radius: 8px;
    }
}

@mixin ClearMenu() {
    backdrop-filter: blur(3rem);
    -webkit-backdrop-filter: blur(3rem);

    background: $BGPrimary;
    border-radius: 18px !important;
    border: none !important;
}

@mixin ClearMenuNoRounding() {
    backdrop-filter: blur(3rem);
    -webkit-backdrop-filter: blur(3rem);

    background: $BGPrimary;
    border: none !important;
}

:root {
    --d-hover: rgba(var(--primary-very-low-rgb), .3) !important;
    --d-max-width: 90%;
}

html {
    overflow-x: hidden;
}

body {
    @if $Background_Type =="tile" {
        background-image: linear-gradient(0deg,
                rgba(var(--secondary-rgb), 1) 0%,
                rgba(var(--secondary-rgb), 0.75) 100%),
            url($Background_Image);
        background-size: $Tile_Size;
    }

    @else {
        background-image: url($Background_Image) !important;
        background-size: cover;
    }
}

div.not-found-container,
#main-outlet-wrapper {
    top: 15px;
    left: 10px;
    position: relative;
    gap: 0px !important;

    margin-top: var(--header-offset);

    #main-outlet {
        backdrop-filter: blur(3rem) !important;
        -webkit-backdrop-filter: blur(3rem);
        background: $BGPrimary !important;

        width: 95%;
        border-radius: 0px 18px 18px 0px;

        padding-left: 10px;
        margin-left: 0px;

        padding-right: 10px;
        margin-right: auto;

        margin-bottom: 50px;
    }

    .sidebar-wrapper {
        backdrop-filter: blur(3rem) !important;
        -webkit-backdrop-filter: blur(3rem);
        background: $BGPrimary !important;

        border-radius: 18px 0px 0px 0px;
        margin-right: 0px;
    }
}

// ??
.admin-area .sidebar-wrapper .admin-panel {
    backdrop-filter: blur(3rem) !important;
    -webkit-backdrop-filter: blur(3rem);
    background: $BGPrimary !important;
}

.admin-section-landing-item,
.group-box,
.admin-config-area-card,
.form-kit__control-composer .d-editor-textarea-wrapper {
    @include ClearMenu()
}

.wizard-container {
    background: #131313a3;

    input[type],
    .select-kit.combo-box .select-kit-header,
    .d-editor-textarea-wrapper,
    div.ac-wrap {
        background: transparent;
    }
}

.d-header-wrap,
body.no-ember .d-header {
    @include BorderByOption("more");

    top: 5px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;

    text-align: center;
    display: block;
    margin: auto;
    position: fixed;


    .d-header,
    &.d-header wrap {
        @include BorderByOption("more");

        top: 4px;
        margin: auto;
        width: 75%;

        background: transparent;

        .wrap {
            @include ClearMenu()
        }
    }
}

// support for topics
.post-stream,
.small-action .small-action-desc {
    // not sure why actions are different from post-stream?
    width: 100%;
}

.topic-body {
    width: 100%;
}

.powered-by-discourse {
    display: none; // i'll deal with you later
}

// Posts

.post-menu-area {
    @include BorderByOption("more");

    width: fit-content;
    float: right;

    background: $BGPrimary;
    padding: 5px;
    margin-bottom: 0px;

    button {
        border-radius: 4px;
        transition: all 0.25s;
        background: none !important;

        &.toggle-like {
            .svg {
                transition: all 0.25s;
            }
        }
    }
}

button,
.controls ul li a {
    border-radius: 8px !important;
}

.topic-footer-main-buttons .btn,
controls ul li a,
.btn-icon-text:not(.create):not(.danger) {
    background: $BGPrimary !important;
}

img:not(.admin-new-feature-item__screenshot):not(.cooked img):not(.mfp-img),
.avatar-flair {
    border-radius: 15% !important;
}

.cooked img,
.admin-new-feature-item__screenshot {
    border-radius: 8px
}

details,
input,
summary,
pre,
code {
    @include ClearMenu();
}

blockquote {
    background: $BGPrimary !important;
    border-radius: 4px 8px 8px 4px !important;

    border-left: 4px solid $BGPrimary !important;
}

.btn.no-text:not(.btn-transparent):not(.topic-map__views-trigger):not(.notifications-tracking-btn):not(.show-all) {
    border-radius: 100% !important;
    aspect-ratio: 1;

    background: $BGPrimary;
}

nav.post-controls .actions .double-button button.like,
nav.post-controls .actions .double-button button.like .d-icon {
    transition: all .25s;

    &.d-hover .d-icon {
        height: 1.25em;
        width: 1.25em;
    }
}


// Profiles

.user-main {

    .details,
    .user-content {
        background: none;
    }
}

.user-main {
    background:
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #000 65%),
        var(--profile-bg-img);

    background-size: cover;
    background-position: top;

    padding: 10px;
    border-radius: 18px;
}

.dashboard-next .nav::after,
.dashboard-next .nav::before {
    background: transparent !important
}

.user-main {
    overflow-x: hidden;

    .about {
        background: var(--profile-bg-img);
        padding: 10px;

        &.has-background .user-profile-image {
            border-radius: 18px;

            background: none !important;
        }

        .staff-counters {
            @include ClearMenu();

            margin-bottom: 5px;
            color: var(--primary);
            backdrop-filter: blur(1rem);
        }

        .details {
            @include ClearMenu();

            .primary {
                margin: 10px;
                margin-top: 0px !important;

                .controls {
                    margin-right: 15px
                }
            }
        }
    }
}

.dropdown-menu,
.user-menu {
    @include ClearMenu();

    .quick-access-panel ul {
        @include ClearMenu();

        .notification.read {
            background: transparent;
        }
    }
}

.dropdown-menu__item {
    margin-bottom: 5px;
}

// Composer
#reply-control {
    @include SemiTransparentBox();
    backdrop-filter: blur(2rem);

    .d-editor-textarea-wrapper,
    details,
    input,
    summary {
        @include SemiTransparentBox();
        backdrop-filter: blur(2rem);

        border: none;
        border-color: transparent;
    }

    width: 95%;

    .grippie {
        border-radius: 18px 18px 0px 0px;
    }
}

.composer-popup {
    @include BorderByOption("more");
}

.select-kit-body,
.select-kit.single-select.dropdown-select-box.is-expanded .select-kit-collection,
.select-kit.single-select.dropdown-select-box.is-expanded .select-kit-body {
    @include ClearMenu();

    transform: none !important;
}

.fk-d-menu__inner-content,
.badge-card {
    @include ClearMenu();
}

.topic-list,
.admin-detail {
    @include ClearMenuNoRounding();

    border-radius: 0px 0px 18px 18px;

    &.pull-left {
        border-radius: 0px 18px 18px 0px;
    }
}

.admin-site-settings-filter-controls {
    @include ClearMenu()
}

.admin-controls {
    margin-left: 5px;
    margin-right: 5px;

    .controls {
        background: transparent !important;
    }
}

.d-admin-filter {
    background: transparent !important;
}

.admin-nav {
    @include ClearMenuNoRounding();

    border-radius: 18px 0px 0px 18px;
}

.navigation-controls,
.navigation-container {
    margin-bottom: 0px;

    ol {
        margin: 0px;
    }

    button,
    details {
        @include ClearMenuNoRounding();

        height: 100%;

        border: none;
        border-color: transparent;
        border-radius: 8px 8px 0px 0px !important;

        summary {
            border: none !important;
        }
    }
}

#suggested-topics-title {
    @include ClearMenuNoRounding();

    padding: 10px;
    margin-bottom: 0px;
    border-radius: 18px 18px 0px 0px;
}

.modal,
.mfp-container {
    backdrop-filter: blur(3rem);

    .d-modal__container {
        background: transparent;
        border-radius: 18px;
    }
}

.user-card .card-content,
.group-card .card-content {
    backdrop-filter: blur(1rem);
    background: transparent;
    border-radius: 18px;
}

#user-card,
.fk-d-menu {
    border-radius: 18px !important;
}

.user-badge,
.more-user-badges a,
.reviewable-filters,
.user {
    @include ClearMenu();

    details,
    summary {
        background: none !important;
    }
}

.alert,
.fk-d-tooltip__content {
    backdrop-filter: blur(2rem);
    border-radius: 8px;
    opacity: .7
}

.selected-posts {
    @include ClearMenu()
}

.list-controls .combo-box .combo-box-header,
.navigation-container ol li details {
    background: none !important;
}

// Chat
.chat-drawer .chat-drawer-container {
    @include ClearMenuNoRounding();

    background: $BGPrimary !important;
}

.c-navbar-container {
    background: $BGPrimary !important;

    border-radius: 8px 8px 0px 0px;
}

.chat-message-container,
.chat-transcript,
controls ul li a,
.c-footer,
.boxed.white {
    background: transparent !important
}

.theme-card__image-wrapper {
    @include ClearMenu()
}

.regular.contents,
.topic-map,
.topic-statuses {
    @include ClearMenuNoRounding();

    border-radius: 6px;
}

.topic-statuses {
    padding: 3px 10px 3px 10px;
    margin-right: 5px;
}

.archetype-private_message .topic-map section {
    background: transparent !important;
}

.header-dropdown-toggle {
    margin-left: 7px;
}

.bootstrap-mode {
    @include ClearMenu();

    text-transform: uppercase;
}
