// pyxfluff 2024

@mixin Semitransparent-Box() {
  border-radius: 12px;
  background: rgba(var(--secondary-rgb), .4);
  border: rgba(var(--secondary-rgb), .4)
}

@mixin BorderByOption($style) {

  // todo
  @if $style =="more" {
    border-radius: 18px;
  }

  @else {
    border-radius: 8px;
  }
}

:root {
  --d-hover: rgba(var(--primary-very-low-rgb), .3) !important
}

body {
  @if $Background_Type =="tile" {
    background-image: linear-gradient(0deg,
        rgba(var(--secondary-rgb), 1) 0%,
        rgba(var(--secondary-rgb), 0.75) 100%),
      url($Background_Image);
    background-size: $Tile_Size;
  }

  @else {
    background-image: url($Background_Image) !important;
    background-size: cover;
  }

  font-family: "Nunito" !important;
}

legend {
  font-family: "Nunito" !important;
}

div#main-outlet.wrap.not-found-container,
#main-outlet-wrapper {

  #main-outlet {
    backdrop-filter: blur(3rem) !important;
    -webkit-backdrop-filter: blur(3rem);
    background-color: #0a0a0aa6 !important;
    
    border-radius: 0px 18px 18px 0px;
  }

  .sidebar-wrapper {
    backdrop-filter: blur(3rem) !important;
    -webkit-backdrop-filter: blur(3rem);
    background-color: #0a0a0aa6 !important;

    border-radius: 18px 0px 0px 18px;
  }
}

.wizard-container {
  background-color: #131313a3;

  input[type],
  .select-kit.combo-box .select-kit-header,
  .d-editor-textarea-wrapper,
  div.ac-wrap {
    background: transparent;
  }
}